torch==2.3.1 --index-url https://download.pytorch.org/whl/cu121
torchvision==0.18 --index-url https://download.pytorch.org/whl/cu121
xformers==0.0.26.post1 --index-url https://download.pytorch.org/whl/cu121
